/* --- Headings --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-primary);
  font-family: var(--font-heading);
  font-weight: var(--heading-weight);
  line-height: var(--heading-line-height);
  margin-bottom: var(--heading-spacing-bottom);
  position: relative;
}

h1 {
  border-bottom: 2px solid var(--bg-tertiary);
  font-size: var(--heading-xxl);
  margin-top: var(--space-xl);
  padding-bottom: var(--space-md);
}

/* .single-content h1:not(:first-child)::before { */
/*   content: "─────── § ───────"; */
/*   color: var(--accent-blue); */
/*   display: block; */
/*   font-size: var(--text-sm); */
/*   letter-spacing: 0.1em; */
/*   margin: var(--space-xl) 0 var(--space-lg); */
/*   text-align: center; */
/* } */

h2 {
  font-size: var(--heading-xl);
  margin-top: var(--space-lg);
  padding-bottom: var(--space-sm);
  border-bottom: 1px solid var(--bg-tertiary);
}

h3 {
  font-size: var(--text-xl);
  margin-top: var(--space-lg);
}

h4 {
  font-size: var(--text-lg);
  margin-top: var(--space-md);
}

h5 {
  font-size: var(--text-md);
  margin-top: var(--space-md);
}

h6 {
  font-size: var(--text-sm);
  margin-top: var(--space-md);
}

/* --- Paragraphs --- */
p {
  color: var(--fg-primary);
  font-family: var(--font-body);
  font-size: var(--text-md);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  margin-bottom: var(--space-md);
  text-align: justify;
}

/* --- Inline Code --- */
code {
  font-family: var(--font-code);
  font-size: var(--text-sm);
}

/* --- Links --- */
a {
  color: var(--accent-blue);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all var(--transition-default) ease;
}

single-content a:hover {
  border-bottom-color: var(--accent-blue);
}
