<article class="card project-card">
  <div class="project-symbol-wrapper">
    <a href="{{ .Permalink }}" class="project-symbol-box">
      <div class="project-abbreviation">{{ .Params.abbreviation }}</div>
      <div class="project-title">{{ .Title }}</div>
      {{ with .Params.serial }}
        <div class="project-serial">No. {{ printf "%03d" . }}</div>
      {{ end }}
    </a>
  </div>

  <div class="card-body">
    <p class="card-summary">{{ .Summary }}</p>

    {{ if .Params.repository }}
      {{ partial "buttons/dual.html" (dict
        "left"  (dict "href" .Params.repository "text" "GitHub Repo")
        "right" (dict "href" .Permalink "text" "Read More")
      ) }}

      <div class="project-languages">
        <h4>Languages</h4>
        {{ partial "languages/language-stack.html" . }}
      </div>
    {{ end }}

    <div class="card-footer">
      {{ partial "tags/labels.html" . }}
    </div>
  </div>
</article>

