{{ define "main" }}
  {{ $slug := .File.BaseFileName | urlize }}
  {{ $section := .Section }}


  <section class="project-hero-wrapper">
    <div class="project-hero-lines">
      {{ range seq 1 60 }}
        <div class="line-wrapper">
          <div class="line"></div>
        </div>
      {{ end }}
    </div>

    {{ partial "projects/symbol.html" (dict
      "context" .
      "boxClass" "symbol--single"
      )
    }}
  </section>

  <div class="project-meta">
    {{ with .Params.catchphrase }}
      <p class="project-catchphrase"><em>{{ . }}</em></p>
    {{ end }}


    <p class="hero-divider">─────── § ───────</p>
    <div class="project-actions">
      {{ if .Params.repository }}
        {{ partial "buttons/dual.html" (dict
          "left"  (dict "href" .Params.repository "text" "Repo")
          "right" (dict "href" .Params.docs "text" "Docs")
          )
        }}
      {{ end }}

    </div>
  </div>

  <div class="project-content container-mid">
    {{ partial "toc.html" . }}
    <div class="single-content">
      {{ .Content }}
    </div>

    {{ partial "single/navigation.html" . }}
  </div>

  {{ partial "progress.html" . }}
{{ end }}
