{{ define "main" }}
  <div class="content-section container-top single-page">
    <section class="about-columns">
      {{ partial "about/lead.html" . }}
      {{ partial "about/motivations.html" . }}
      {{ partial "about/professional.html" . }}
      {{ partial "about/academic.html" . }}
      {{ partial "about/stack.html" . }}
      {{ partial "about/certifications.html" . }}
    </section>

    <footer class="about-footer">
      <p class="footer-epigraph">
        “Perfection is achieved not when there is nothing more to add, <br />
        but when there is nothing left to take away.” <br />
        — Antoine de Saint-Exupéry
      </p>
    </footer>
  </div>
{{ end }}
