{{ define "main" }}
  <section class="list-page container-top">
    <header class="list-header">
      <h1 class="list-title">{{ .Title }}</h1>
      {{ if .Content }}
        <div class="list-description">
          {{ .Content }}
        </div>
      {{ end }}
    </header>

    <div class="list-content">
      {{ partial "layout/grid.html" (dict
        "Pages" (cond .IsNode .Paginator.Pages .Pages)
        "class" "grid--2"
        )
      }}
    </div>

    {{ if .Paginator.HasPrev }}
      <nav class="pagination">
        {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}" class="pagination-link"
            >◀ Previous</a
          >
        {{ end }}
        {{ if .Paginator.HasNext }}
          <a href="{{ .Paginator.Next.URL }}" class="pagination-link"
            >Next ▶</a
          >
        {{ end }}
      </nav>
    {{ end }}
  </section>
{{ end }}
