<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>"Hello"</p>
    </div>
    <div class="footer-center">
      <p class="footer-text">{{ .Site.Params.author }} • {{ now.Year }}</p>
    </div>
    <div class="footer-right">
      {{ with .Site.Params.social.github }}
        <a href="https://github.com/{{ . }}" class="footer-link">
          {{ partial "icon.html" (dict
            "name" "github"
            "style" "brands"
            "size" "1.5em"
            "color" "#50505E"
            )
          }}
        </a>
      {{ end }}
    </div>
  </div>
</footer>
