<section class="hero">
  <div class="hero-container">
    <div class="hero-box">
      <p class="hero-tagline-top">
        Exploring elegant systems under extreme constraint.
      </p>
      <p class="hero-divider">─────── § ───────</p>
      <p class="hero-tagline-bottom">Exploring elegant this and that where.</p>
      <p></p>

      <!-- <div class="hero-cta"> -->
        <!-- <a href="/about/" class="btn btn--primary">About</a> -->
        <!-- <a href="/cv.pdf" class="btn btn--ghost">CV</a> -->
      <!-- </div> -->
    </div>
  </div>
</section>
